<div class="paddingReset col-md-12 col-xs-12 clearfix">
	<div class="footer col-md-12 col-xs-12 paddingReset clearfix">
		<div class="col-md-4 col-xs-4">
			<h6>CEG Tech Forum &copy; 2016. All Rights Reserved.</h6>
		</div>
		<div class="col-md-3 col-md-push-1 col-xs-4">
			<a href="https://www.facebook.com/kurukshetra.org.in" target="_blank">
				<i class="fa fa-facebook "></i>
			</a>
			<a href="https://twitter.com/kurukshetra_ceg" target="_blank">
				<i class="fa fa-twitter "></i>
			</a>
			<a href="https://youtube.com/kurukshetramedia" target="_blank">
				<i class="fa fa-youtube "></i>
			</a>
		</div>
		<div class="col-md-3 col-md-push-2 col-xs-4">
			<a class="archives" href="https://www.archive15.kurukshetra.org.in"><h6>K!15</h6></a>
			<a class="archives"  href="https://www.archive14.kurukshetra.org.in"><h6>K!14</h6></a>
			<a class="archives"  href="https://www.archive13.kurukshetra.org.in"><h6>K!13</h6></a>
		</div>
	</div>
</div>