  <!--navbar-->
  <div>
<!--navbar for mobile -->
    <nav class="navbar hidden-md hidden-lg hidden-sm" >
      <div class="container-fluid paddingReset">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img src="images/k16.png" style="margin-left:30px;margin-top:40px;width:80%;height:auto" />
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <div class="sr-only">Toggle navigation</div>
            <div class="icon-bar top-bar"></div>
            <div class="icon-bar middle-bar"></div>
            <div class="icon-bar bottom-bar"></div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="width:104% !important">
           <li>
            <a class="text" href="#/">HOME</a>
            <div class=" hidden-xs topVane">
              <i class="fa fa-home"></i>
            </div>
           </li>
           <li class="eventdrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#/" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTS <div class="caret"></div></a>
            <ul class="dropdown-menu eventsNavElem">
              <li class="eventCircleNav"><a href="#/events/engineering"><i class="fa fa-gear"></i>
                  <div class="sideText">Engineering</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#/events/robotics"><i class="fa fa-android"></i>
                              <div class="sideText">Robotics</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/online"><i class="fa fa-laptop"></i>
                              <div class="sideText">Online</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/coding"><i class="fa fa-terminal"></i>
                              <div class="sideText">Coding</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/management"><i class="fa fa-money"></i>
                              <div class="sideText">Management</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/general"><i class="fa fa-archive"></i>
                              <div class="sideText">General</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/quizzes"><i class="fa fa-puzzle-piece"></i>
                              <div class="sideText">Quizzes</div>
              </a>
                            </li>
            </ul>
          </li>
           <li class="wkshopdrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#/" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WORKSHOPS <div class="caret"></div></a>
            <ul class="dropdown-menu eventsNavElem">
              <li class="eventCircleNav"><a href="#/workshops/engineering"><i class="fa fa-gear"></i>
                  <div class="sideText">Engineering</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#/workshops/robotics"><i class="fa fa-android"></i>
                              <div class="sideText">Robotics</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/management"><i class="fa fa-inr"></i>
                              <div class="sideText">Management</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/general"><i class="fa fa-archive"></i>
                              <div class="sideText">General</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/school"><i class="fa fa-university"></i>
                              <div class="sideText">School</div>
              </a>
                            </li>
            </ul>
          </li>
           <li>
            <a class="text" href="#/xceed">XCEED</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-fighter-jet"></i>
            </div>
           </li>
           <li class="">
            <a class="text" href="#/gl">GUEST LECTURES</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-microphone"></i>
            </div>
           </li>

           <li class="">
            <a href="#/karnival" class="text">K!ARNIVAL</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-empire"></i>
            </div>
           </li>
           <li class="">
            <a href="#/hospi" class="text">HOSPITALITY</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-map-o"></i>
            </div>
           </li>
           <li class="">
            <a class="text" href="#/sponsors">SPONSORS</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-inr"></i>
            </div>
           </li>
           <li class="">
            <a href="#/about" class="text">ABOUT US</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-angellist"></i>
            </div>
           </li>
           <li class="">
            <a href="#/contacts" class="text">CONTACT</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-comment"></i>
            </div>
           </li>
           <li class="smalleritem hidden-xs">
            <a class="text">LOGIN</a>
            <div class="hidden-xs topVane" id="lVane">
              <i class="fa fa-key"></i>
            </div>
           </li>
           <li class="logindrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN <div class="caret"></div></a>
            <ul class="dropdown-menu loginNavElem">
              <li class="eventCircleNav"><a href="#/profile"><i class="fa fa-gear"></i>
                  <div class="sideText">Profile</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#"><i class="fa fa-facebook"></i>
                  <div class="sideText">FACEBOOK</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#"><i class="fa fa-google"></i>
                  <div class="sideText">Google+</div>
                  </a>
                </li>
           </ul>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--navbar script-->
  <script>
  $(document).ready(function(){
  $(function() {
    $('.nav a').on('click', function(){ 
      var clickedId = $(this).text();
        if( clickedId == "EVENTS " || clickedId == "WORKSHOPS " || clickedId == "LOGIN " )
          return;
        else {
            $(".navbar-toggle").trigger( "click" );
        }
    });
});
  $(".navbar-toggle").click(function(){
    toggle_stuff();
  });
  function toggle_stuff()
  {
    $("html,body").animate({'scrollTop':"0"},100);
    $(".top-bar").toggleClass("top-bar-anim");
    $(".middle-bar").toggleClass("middle-bar-anim");
    $(".bottom-bar").toggleClass("bottom-bar-anim");
 
  }
  });
  </script>
